html,body{
    height: 100%;
    font-size: 13.333333vw;
}
body{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.top{
    height: 0.88rem;
    display: flex;
    align-items: center;
}
.top span{
    font-size: 0.42rem;
    color: #333;
    margin-left: 0.25rem;
}
.top p{
    font-size: 0.3rem;
    color: #333;
    margin-left: 0.1rem;
    margin-right: 0.6rem;
}
.top dl{
    width: 0.65rem;
    height: 0.88rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.95rem;
}
.top  img{
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.7rem;
}
.top dl img{
    width: 0.24rem;
    height: 0.05rem;
    opacity: 0;
    margin-left: 0;
}
.top dl dt{
    margin-top: 0.22rem;
    margin-bottom: 0.16rem;
    font-size: 0.3rem;
    color: #333;
}
.top dl:hover dt{
    color: #0bbe06;
}
.top dl:hover img{
    opacity: 1;
}


.zhong{
    flex: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}
.zhong .yi{
    height: 1.65rem;
    display: flex;
    align-items: center;
}
.zhong .yi img{
    width: 0.98rem;
    height: 0.98rem;
    margin: 0 0.25rem;
}
.zhong .yi p{
    font-size: 0.28rem;
    color: #828282;
}
.zhong .yi p i{
    font-size: 0.22rem;
    color: #a0a0a0;
}



.foot{
    height: 0.99rem;
    border-top: 1px solid #f8f8f8;
}
.foot ul{
    height: 0.99rem;
    display: flex;
    color: #777;
}
.foot ul li{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.2rem;
}
.foot ul li span{
    font-size: 0.32rem;
}
.foot ul li:hover{
    color: #ff3f29;
}
 .foot .ding{
     width: 1rem;
     height: 1rem;
     border-radius: 50%;
     background-color: #0bbe06;
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     left: 3.25rem;
     bottom: 0.5rem;
     border-top: 1px solid #f8f8f8;
 }
 .foot .ding span{
     color: #fff;
     font-weight: 900;
 }